/* Arquivo CSS para customizar o projeto */
body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.88rem;
}

.border-radius-24 {
	border-radius: 24px;
}

.list-unstyled li {
	font-size: 1.2em;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 2px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	/*
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	*/
}
.slider:hover {
	opacity: 1;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #07f;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #07f;
	cursor: pointer;
}